---
import Layout from "../layouts/Layout.astro";

const contacts = [
    {
        name: 'Linkedin',
        url: 'https://www.linkedin.com/in/rogerdalmacio/',
    },
    {
        name: 'Upwork',
        url: 'https://www.upwork.com/freelancers/~0196037be9d908bf90?mp_source=share'
    }
];
---
<Layout>
    <section class="default-container default-padding py-20 text-text h-screen">
        <h1 class="text-5xl font-rubik text-primary">Contacts</h1>
        <p class="mt-10">Behind every good project is a good conversation — let’s start one.</p>
        <ul class="mt-10 space-y-4">
            {contacts.map(contact => (
                <li>
                    <a href={contact.url} target="_blank" class="text-sm font-rubik tracking-widest p-3 text-off-white bg-[url(/brush.svg)] bg-center bg-cover bg-no-repeat">{contact.name}</a>
                </li>
            ))}
        </ul>
        <p class="mt-10">Call me, email me — either way, I’ll be on the other end.</p>
        <ul>
            <li class="mt-2">Phone: +639514412423</li>
            <li class="mt-2">Email: <a class="text-sm font-rubik tracking-widest p-3 text-off-white bg-[url(/brush.svg)] bg-center bg-cover bg-no-repeat" href="mailto:rogerdalmacio36@gmail.com?subject=Inquiry">rogerdalmacio36@gmail.com</a></li>
        </ul>
    </section>
</Layout>
