---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

interface Career {
	title: string,
	company: string,
	date: string,
}

const careerProgression: Career[] = [
	{
		title: "Computer Programmer I",
		company: "Land Transportation Franchising and Regulatory Board",
		date: "February 2025 - Present"
	},
	{
		title: "Freelance Web Developer",
		company: "Upwork",
		date: "November 2023 - September 2024"
	},
	{
		title: "Freelance Laravel Fullstack Developer",
		company: "Gaslamp Media",
		date: "October 2023 - September 2024"
	},
	{
		title: "PHP Developer (Laravel)",
		company: "CoreProc, Inc.",
		date: "June 2023 - October 2023"
	},
	{
		title: "Web Development Intern",
		company: "ITEXMO SMS Services Inc.",
		date: "March 2023 - May 2023"
	}
];
---

<Layout>
	<section class="default-container default-padding py-20 text-text overflow-hidden">
		<h1 class="text-5xl font-rubik text-primary">About me</h1>
		<p class="text-2xl mt-16">Hello, I am <span class="font-bold">Roger Dalmacio</span>.</p>
		<p class="mt-12 text-xl">I am a full-stack <strong class="text-primary">Laravel developer</strong> with a passion for turning ideas into <strong class="text-primary">scalable web applications</strong>.</p>
		<p class="mt-12 text-xl">I have built solutions for both <strong class="text-primary">local</strong> businesses and <strong class="text-primary">international</strong> clients, helping them bring their vision to life on the web.</p>
		<div id="background-wrapper">
			<div id="background" class="bg-[url('/lined-paper.png')] shadow-xl my-32 p-16 sm:p-20 lg:p-20 bg-white relative">
				<h2 class="text-3xl font-rubik text-gray-700">Background</h2>
				<p class="max-w-prose leading-relaxed mt-8">Since I was a kid, I’ve always been curious about web development. I used to wonder how websites worked, and the biggest mystery to me back then was how logins were implemented. I tried researching, studying, and experimenting, but no matter how hard I pushed, I couldn’t quite figure it out.</p>
				<p class="mt-8 max-w-prose leading-relaxed">Fast forward to college — funny enough, I didn’t even plan to take BSIT. But life had its way, and once I remembered how much I loved web development, I knew I had to dive back in.</p>
				<p class="mt-8 max-w-prose leading-relaxed">I started learning seriously through The Odin Project, where I fell in love with JavaScript and PHP. I built several projects — most of them messy at first, with no sense of conventions, architecture, or principles. But little by little, I figured things out.</p>
				<p class="mt-8 max-w-prose leading-relaxed">By the time I graduated, I had already landed my first job as a developer — something I remain really proud of.</p>
				<Image id="mark" class="hidden sm:block absolute md:top-10 md:right-15 rotate-20 opacity-0" width="100px" height="100px" src="/a+.png" alt="a+" />
			</div>
		</div>
		<h2 class="text-4xl mt-16 font-rubik text-gray-700">Career Progression</h2>
		<div class="relative mt-16">
			<ul class="space-y-12">
				{careerProgression.map(career => (
					<li class="career-wrapper opacity-0">
						<p class="text-xl font-rubik tracking-widest p-3 text-off-white bg-[url(/brush.svg)] bg-cover w-fit bg-no-repeat">{ career.title }</p>
						<p class="text-xl">{ career.company }</p>
						<p class="text-xl">{ career.date }</p>
					</li>
				))}
			</ul>
		</div>
	</section>
</Layout>

<script>
	import {animate, inView} from "motion";

	inView('#background-wrapper', (element) => {
		animate('#mark', {opacity: 1})
		animate('#background', {scale: 1.25})


		return () => {
			animate('#background', {scale: 1})
			animate('#mark', {opacity: 0})
		}
	}, {amount: 0.5})

	inView('.career-wrapper', (element) => {
		animate(element, {opacity: 1, x: [-50, 0]}, {duration: 0.5})
	}, {amount: 1})
</script>
