---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <section class="default-container default-padding py-12 text-text h-screen">
        <h1 class="text-4xl font-rubik text-primary">Personal Projects</h1>
        <p class="mt-10">Work in progress… but isn’t everything?</p>
    </section>
</Layout>