<footer class="bg-gray-100">
    <div class="default-container default-padding py-10">
        <p>Copyright 2025, Roger Dalmacio.</p>
        <p>Work in progress — just like me.</p>
    </div>
</footer>