<footer class="border-t border-primary/30">
    <div class="default-container default-padding py-10">
        <img class="w-5 mr-8" src="/r.png" alt="r-logo" />
        <p>Copyright 2025, Roger Dalmacio.</p>
        <p>Work in progress — just like me.</p>
    </div>
</footer>